body
	background #EFEFF4
	color #323232
	font-family Microsoft Yahei
.top
	height 40px
	padding-top 20px 
	text-align center
	line-height 40px
	font-size 20px
	background #fff
	position relative
	border-bottom 1px solid #E9EAED
	.info_button
		width 40px 
		height 40px
		background url(../../img/info/nav_set_icon@2x.png) no-repeat center 
		background-size 50%
		position absolute
		top 20px 
		right 0px 
.info
	height 96px
	padding-left 90px
	position relative
	background-color #fff
	margin-top 10px
	.info_pic
		position absolute
		top 50%
		left 15px 
		margin-top -32px
		display block
		width 64px
		height 64px
		border-radius 50%
		background url(../../img/info/log-in_user-head@2x.png) no-repeat center
		.info_pic_down
			position absolute
			bottom 0px
			right 0px 
			display block
			width 18px
			height 18px
			border-radius 50%
			background url(../../img/info/log-in_member_icon@2x.png) no-repeat right bottom
			background-size 18px 18px
	.info_word
		margin 0px
		height 30px
		line-height 30px
		font-size 14px
		padding-top 20px
	.info_word_modify
		margin 0px
		height 20px
		line-height 20px
		font-size 12px
		color #7E7E7E
		background url(../../img/info/log-in_edit_icon@2x.png) no-repeat 50px center
		background-size 11px 12px
	&:after
		content ""
		width 20px
		height 36px
		position absolute
		top 50%
		right 15px
		margin-top -18px
		background url(../../img/info/log-in_right_icon@2x.png) no-repeat center
		background-size 50%
.info_nav
	position relative
	display flex
	background-color #fff
	height 42px
	border-top 1px solid #EBEBEE
	border-bottom 1px solid #EBEBEE
	.collection
		flex 1
		text-align center		
	.integral
		flex 1
		text-align center	
	.info_num
		font-size 20px 
		line-height 42px
	.info_word
		font-size 12px
		color #909090	
		line-height 42px
		
	&:after
		content ""
		width 1px 
		height 30px 
		position absolute
		top 6px
		left 50%
		background-color #EBEBEE
.info_cell
	position relative
	margin-top 10px
	background-color #fff
	height 48px 
	padding-left 40px
	line-height 48px
	font-size 14px 
	.pic_cell1
		display block
		position absolute
		left 0px
		top 4px
		width 40px
		height 40px	
		background	url(../../img/info/content_list_icon01@2x.png) no-repeat center
		background-size 50%
	&:after
		content ""
		width 20px
		height 36px
		position absolute
		top 50%
		right 15px
		margin-top -18px
		background url(../../img/info/content_list_right_icon@2x.png) no-repeat center
		background-size 50%
	
	.pic_cell2
		display block
		position absolute
		left 0px
		top 4px
		width 40px
		height 40px	
		background	url(../../img/info/content_list_icon02@2x.png) no-repeat center
		background-size 50%
	.pic_cell3
		display block
		position absolute
		left 0px
		top 4px
		width 40px
		height 40px	
		background	url(../../img/info/content_list_icon05@2x.png) no-repeat center
		background-size 50%
	.pic_cell4
		display block
		position absolute
		left 0px
		top 4px
		width 40px
		height 40px	
		background	url(../../img/info/content_list_icon03@2x.png) no-repeat center
		background-size 50%
	.pic_cell5
		display block
		position absolute
		left 0px
		top 4px
		width 40px
		height 40px	
		background	url(../../img/info/content_list_icon04@2x.png) no-repeat center
		background-size 50%	
		
		
.bottom
	width 100%
	height 50px
	position absolute
	bottom 0px
	left 0px
	display flex
	color #B6B6B6
	background #fff
	line-height 74px
	font-size 12px
	text-align center

	.bottom_navbar1
		height 50px
		flex 1
		background url(../../img/bottom_nav/bottom_nor_icon04@2x.png) no-repeat center 6px
	
	.bottom_navbar2
		height 50px
		flex 1
		background url(../../img/bottom_nav/bottom_nor_icon03@2x.png) no-repeat center 6px
	
	.bottom_navbar3
		height 50px
		flex 1
		background: url(../../img/bottom_nav/bottom_icon05@2x.png) no-repeat center
	
	.bottom_navbar4
		height 50px
		flex 1
		background: url(../../img/bottom_nav/bottom_nor_icon02@2x.png) no-repeat center 6px
	
	.bottom_navbar5
		color #EE7230
		height 50px
		flex 1
		background: url(../../img/bottom_nav/bottom_press_icon01@2x.png) no-repeat center 6px
		
		