<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/publish/publish_search.css">
</head>
<body>
	<header class="header">
		<div class="search-block">
			<i class="search-icon"></i>
			<input type="text" class="search-input" placeholder="搜索你想要发布的大楼">
		</div>
		<span class="header-cancel">取消</span>
	</header>

	<div class="search-box">
		<div class="search-text">
			<span>最近搜索</span>
			<span class="search-clear">清除</span>
		</div>
		<ul class="search-list">
			<li class="search-li">海文商务楼</li>
			<li class="search-li">国科大厦</li>
			<li class="search-li">会德丰国际广场</li>
		</ul>
	</div>




	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>

</body>
</html>