<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/index/index.css"/>
	</head>
	<body>
		<div class="top-head">
			<span class="top-address">上海</span>
			<span class="banner-name">点点星空</span>
		</div>
		<div id="banner">
			<div id="img">
				<img src="../../public/img/home/banner_img@2x.png"/>
				<img src="../../public/img/home/banner_img@2x.png"/>
				<img src="../../public/img/home/banner_img@2x.png"/>
				<img src="../../public/img/home/banner_img@2x.png"/>
			</div>
			<div id="button">
				<span class="on"></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
			<div class="banner-input">
				<span class="input-icon"></span>
				<span class="input-word">挑好房，上点点星空</span>
			</div>
		</div>
		<!--搜索弹出框-->
		<div class="input_out">
			<div class="input_out_search">
				<input class="input_out_input" type="text" placeholder="挑好房，上点点星空"/>
				<span class="input_out_word">取消</span>
			</div>
		</div>
		<div class="query_box">
	        <div class="query_block">
	        	<span class="text">区域</span><i class="icon"></i>
	        </div>
	        <div class="query_block">
	        	<span class="text">面积</span><i class="icon"></i>
	        </div>
	        <div class="query_block">
	        	<span class="text">单价</span><i class="icon"></i>
	        </div>
	        <div class="query_block">
	        	<span class="text">更多</span><i class="icon"></i>
	        </div>
	        <div class="query_price"></div>
	    </div>
  		<!--地区下拉-->
	    <div class="down_box">
	    	<div class="mask">
	    		<div class="area_down_box">
	    			<div class="area_down_area">
	    				<div class="area_list active">全部</div>
	    				<div class="area_list">闵行</div>
	    				<div class="area_list">浦东</div>
	    				<div class="area_list">嘉定</div>
	    				<div class="area_list">宝山</div>
	    				<div class="area_list">闸北</div>
	    				<div class="area_list">松江</div>
	    				<div class="area_list">青浦</div>
	    				<div class="area_list">徐汇</div>
	    				<div class="area_list">普陀</div>
	    			</div>
	    			<div class="area_down_project">
	    				<div class="project_list">全部</div>
	    				<div class="project_list">八佰伴</div>
	    				<div class="project_list">浦东</div>
	    				<div class="project_list">嘉定</div>
	    				<div class="project_list">宝山</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  	<!--面积下拉菜单-->
	    <div class="down_box">
	    	<div class="mask">
	    		<div class="ares_down_box">
	    			<div class="ares_list">全部</div>
	    			<div class="ares_list">100㎡以下</div>
	    			<div class="ares_list">100-200㎡</div>
	    			<div class="ares_list">200-300㎡</div>
	    			<div class="ares_list">300-500㎡</div>
	    			<div class="ares_list">500-1000㎡</div>
	    			<div class="ares_list">1000㎡以上</div>
	    			<div class="search">
	    				<div class="search_box">
	    					<input class="search_input" type="text" />
		    				<span class="search_line"></span>
		    				<input class="search_input" type="text" />
	    				</div>
	    				<input class="search_button" type="button" value="确定"/>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="down_box">
	    	<div class="mask">
	    		<div class="ares_down_box">
	    			<div class="ares_list">全部</div>
	    			<div class="ares_list">3元/㎡/天以下</div>
	    			<div class="ares_list">3-4元/㎡/天</div>
	    			<div class="ares_list">4-5元/㎡/天</div>
	    			<div class="ares_list">5-7元/㎡/天</div>
	    			<div class="ares_list">7-9元/㎡/天</div>
	    			<div class="ares_list">9-12元/㎡/天</div>
	    			<div class="ares_list">12元/㎡/天以上</div>
	    			<div class="search">
	    				<div class="search_box">
	    					<input class="search_input" type="text" />
		    				<span class="search_line"></span>
		    				<input class="search_input" type="text" />
	    				</div>
	    				<input class="search_button" type="button" value="确定"/>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <!--地区下拉-->
	    <div class="down_box">
	    	<div class="mask">
	    		<div class="area_down_box">
	    			<div class="area_down_area">
	    				<div class="area_list active">全部</div>
	    				<div class="area_list">闵行</div>
	    				<div class="area_list">浦东</div>
	    				<div class="area_list">嘉定</div>
	    				<div class="area_list">宝山</div>
	    				<div class="area_list">闸北</div>
	    				<div class="area_list">松江</div>
	    				<div class="area_list">青浦</div>
	    				<div class="area_list">徐汇</div>
	    				<div class="area_list">普陀</div>
	    			</div>
	    			<div class="area_down_project">
	    				<div class="project_list">全部</div>
	    				<div class="project_list">八佰伴</div>
	    				<div class="project_list">浦东</div>
	    				<div class="project_list">嘉定</div>
	    				<div class="project_list">宝山</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	
	    
	    <div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right">佣金：1个月</span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right"></span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right">佣金：1个月</span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right"></span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right">佣金：1个月</span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right"></span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right">佣金：1个月</span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right"></span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right"></span>
				</div>
			</div>
		</div>
		<div class="move_top"></div>
		<div class="bottom">	
			<div class="bottom_navbar1">首页</div>
			<div class="bottom_navbar2">预约</div>
			<div class="bottom_navbar3"></div>
			<div class="bottom_navbar4">信息</div>
			<div class="bottom_navbar5">我</div>	
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
    	<script src="../public/libs/zepto/jx.js"></script>
    	<script src="../public/js/index/index.js"></script>
	</body>
</html>
