<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<<title>点点星空 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/after_landing.css"/>
	</head>
	<body>
		<div class="top">我
			<div class="info_button"></div>
		</div>
		
		<div class="info">
			<span class="info_pic">
				<span class="info_pic_down"></span>
			</span>
			<p class="info_word">呱呱呱叫</p>
			<p class="info_word_modify">修改资料</p>
		</div>
		<div class="info_nav">
			<div class="collection">
				<span class="info_num">64</span>
				<span class="info_word">收藏</span>
			</div>
			<div class="integral">
				<span class="info_num">624</span>
				<span class="info_word">积分</span>
			</div>
		</div>
		<div class="info_cell">
			<span class="pic_cell1"></span>
			<span>我发布的需求</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell2"></span>
			<span>我发布的房源</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell3"></span>
			<span>我预约的房源</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell4"></span>
			<span>历史交易</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell5"></span>
			<span>过期房源</span>
		</div>
		<div class="bottom">	
			<div class="bottom_navbar1">首页</div>
			<div class="bottom_navbar2">预约</div>
			<div class="bottom_navbar3"></div>
			<div class="bottom_navbar4">信息</div>
			<div class="bottom_navbar5">我</div>	
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/after_landing.js"></script>
		<script src="../public/js/jump.js"></script>
	</body>
</html>
