<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>代理商个人资料</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/agents_info.css"/>
	</head>
	<body>
		<div class="header">
			<i class="icon-back"></i>
			<span class="header_title">个人资料</span>
		</div>
		<div class="info_box">
		    <div class="info_img"></div>
		    <div class="info_name">普旌地产</div>
		    <div class="info_desc">以前喜欢一个人，现在喜欢一个人</div>
		    <div class="info_edit">编辑个人资料</div>
		</div>
		
		<div class="info-cells">
		    <div class="info-cell">
		        <span class="info-name">企业邮箱/公司总机</span>
		        <span class="info-content">823546415@qq.com</span>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">联系人</span>
		        <span class="info-content">张三</span>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">联系方式</span>
		        <span class="info-content">18956024163</span>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">微信号码</span>
		        <span class="info-content">18956024163</span>
		    </div>
		    <div class="image-cell">
		        <div class="image-blocks">
		        	<div class="image-block image-block1">
		        		<div class="img">
			            	<img src="" alt="">			            	
			            </div>
			            <p class="title">微信二维码</p>
		        	</div>    
		        </div>
		        <div class="image-blocks">
		        	<div class="image-block image-block2">
		        		<div class="img">
			            	<img src="" alt="">			            	
			            </div>
			            <p class="title">营业执照</p>
		        	</div>    
		        </div>
		        <div class="image-blocks">
		        	<div class="image-block image-block3">
		        		<div class="img">
			            	<img src="" alt="">
			            </div>
			            <p class="title">租售代理协议</p>
		        	</div>    
		        </div>
		    </div>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/agents_info.js"></script>
	</body>
</html>
