<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>点点星空 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/agents_edit_info.css"/>
	</head>
	<body>
		<div class="header">
			<i class="icon-back"></i>
			<span class="header_title">个人资料</span>
		</div>
		<div class="info-cells">
			<div class="info-cell">
		        <span class="info-name">头像</span>
		        <span class="info-content info-pic"></span>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">简介</span>
		        <input type="text" class="info-content" value="以前喜欢一个人，现在喜欢一个人"/>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">企业邮箱/公司总机</span>
		        <input type="text" class="info-content" value="823546415@qq.com"/>		  
		    </div>
		    <div class="info-cell">
		        <span class="info-name">联系人</span>
		        <input type="text" class="info-content" value="张三"/>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">联系方式</span>
		        <input type="text" class="info-content" value="18956024163"/>
		    </div>
		    <div class="info-cell">
		        <span class="info-name">微信号码</span>
		        <input type="text" class="info-content" value="18956024163"/>
		    </div>
		    <div class="image-cell">
		        <div class="image-blocks">
		        	<div class="image-block image-block1">
		        		<div class="img">
			            	<img src="" alt="">			            	
			            </div>
			            <p class="title">微信二维码</p>
		        	</div>    
		        </div>
		        <div class="image-blocks">
		        	<div class="image-block image-block2">
		        		<div class="img">
			            	<img src="" alt="">			            	
			            </div>
			            <p class="title">营业执照</p>
		        	</div>    
		        </div>
		        <div class="image-blocks">
		        	<div class="image-block image-block3">
		        		<div class="img">
			            	<img src="" alt="">
			            </div>
			            <p class="title">租售代理协议</p>
		        	</div>    
		        </div>
		    </div>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/agents_edit_info.js"></script>
	</body>
</html>
