<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>需求收藏</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/demand_collection.css"/>
	</head>
	<body>
		<div class="header">
			<i class="icon-back"></i>
			<span class="header_title">收藏</span>
		</div>
		<div class="nav">
			<span class="nav-demand">需求</span>
			<span class="nav-listing">房源</span>
		</div>
		<div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">一个新的租房需求</span>
	            	<span class="d-t-tag">租户</span>
	            </header>
	            <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</p>
	            <footer class="demand-footer">
	            	<span class="text-time"></span>
	            	<span class="btn-detail">
	            		<div class="btn-detail-word">了解详情</div>
	            	</span>
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">一个新的租房需求</span>
	            	<span class="d-t-tag">租户</span>
	            </header>
	            <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</p>
	            <footer class="demand-footer">
	            	<span class="text-time"></span>
	            	<span class="btn-detail">
	            		<div class="btn-detail-word">了解详情</div>
	            	</span>
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/demand_collection.js"></script>
	</body>
</html>
