<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>未登录</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/nologin.css"/>
	</head>
	<body>
		<div class="top">我
			<div class="info_button" id="info_button"></div>
		</div>
		
		<div class="info" id="info">
			<span class="info_pic"></span>
			<span class="info_word">点击登录/注册</span>
		</div>
		<div class="info_nav">
			<div class="collection">
				<span class="info_num">0</span>
				<span class="info_word">收藏</span>
			</div>
			<div class="integral">
				<span class="info_num">0</span>
				<span class="info_word">积分</span>
			</div>
		</div>
		<div class="info_cell">
			<span class="pic_cell1"></span>
			<span>我发布的需求</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell2"></span>
			<span>我发布的房源</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell3"></span>
			<span>我预约的房源</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell4"></span>
			<span>历史交易</span>
		</div>
		<div class="info_cell">
			<span class="pic_cell5"></span>
			<span>过期房源</span>
		</div>
		<div class="bottom">	
			<div class="bottom_navbar1">首页</div>
			<div class="bottom_navbar2">预约</div>
			<div class="bottom_navbar3"></div>
			<div class="bottom_navbar4">信息</div>
			<div class="bottom_navbar5">我</div>	
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/nologin.js"></script>
		<script src="../public/js/jump.js"></script>
	</body>
</html>
