<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>我预约的房源</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/reservation_listing.css"/>
	</head>
	<body>
		<div class="header">
			<i class="icon-back"></i>
			<span class="header_title">我预约的房源</span>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right">待接单</span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right">佣金：1个月</span>
				</div>
			</div>
		</div>
		<div class="cells">
			<div class="cell">
				<div class="cell-header">
					<span class="cell-header-left">东方金融中心</span>
					<span class="cell-header-right">完成</span>
				</div>
				<p class="cell-content">浦东-八佰伴</p>
				<div class="cell-botton">商务中心</div>
				<div class="cell-foot">
					<span class="foot-left"><span class="foot-style">￥7</span>元/平米/天起</span>
					<span class="foot-right"></span>
				</div>
			</div>
		</div>
		
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/reservation_listing.js"></script>
	</body>
</html>
