<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>设置</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/settings.css"/>
	</head>
	<body>
		<div class="header">
			<i class="icon-back"></i>
			<span class="header_title">设置</span>
		</div>
		<div class="info_cell">
			<span class="info_cell_left">接收需求</span>
			<span class="info_cell_right"></span>
		</div>
		<div class="info_cell">
			<span class="info_cell_left">关于</span>
			<span class="info_cell_right"></span>
		</div>
		<div class="info_cell">
			<span class="info_cell_left">清除缓存</span>
			<span class="info_cell_right hc">7.02M</span>
		</div>
		<div class="info-cell-foot">退出登录</div>
		<div class="mast">
			<div class="success_box">
				<div class="success_top">你确定要清理缓存么？</div>
				<div class="yesno">
					<span class="no">取消</span>
					<span class="yes">确定</span>
				</div>
			</div>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/info/settings.js"></script>
	</body>
</html>
