<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>设置-关于</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/info/settings_about.css"/>
	</head>
		<div class="header">
			<i class="icon-back"></i>
			<span class="header_title">关于</span>
		</div>
		<div class="logo_box">
			<div class="logo">v1.0.0</div>
		</div>
		<div class="info_cell">
			<span class="info_cell_left">电话</span>
			<span class="info_cell_right">021-68547845</span>
		</div>
		<div class="info_cell">
			<span class="info_cell_left">服务条款</span>
			<span class="info_cell_right"></span>
		</div>
		<script src="../../public/js/info/settings_about.js"></script>
	</body>
</html>
