<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>粤淘网 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/order/order_detail.css">
</head>
<body>
	<header class="header">
		<span class="cancel cancel-upload">取消</span>
		<span class="header-title">上传合同书</span>
		<span class="header-conf upload-conf">上传</span>
	</header>

	<div class="upload-title">请按照要求添加照片</div>

	<section class="upoad-box">
		<div class="upload-img">
			<span class="upload-icon"></span>
			<span class="upload-txet">合同第一页</span>
			<input type="file" class="upload-file">
		</div>
	</section>
	<section class="upoad-box">
		<div class="upload-img">
			<span class="upload-icon"></span>
			<span class="upload-txet">合同最后一页</span>
			<input type="file" class="upload-file">
		</div>
	</section>


	<div class="mask"></div>

	<div class="publish-alert upload-alert">
		<p class="title">合同上传成功，后台正在审核</p>
		<p class="confirm">确定</p>
	</div>

	<div class="cancel-alert">
		<p class="title">您确定要取消本次上传</p>
		<p class="confirm">
			<span class="cancel">取消</span>
			<span class="sure booking-conf">确定</span>
		</p>
	</div>


	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/order/order.js"></script>
</body>
</html>