body
	background #EFEFF4
	color #323232
	font-family Microsoft Yahei
	
.header
	width 100%
	height 40px
	padding-top 20px
	background-color #ffffff
	position relative
	border-bottom 1px solid #E9EAED
	.icon-back
		position absolute
		top 20px
		left 0px
		width 40px
		height 40px
		background url(../../img/login/nav_back_icon@2x.png) no-repeat center
		background-size 10px 18px
	.header_title
		display block
		width 100%
		height 40px
		line-height 40px
		text-align center
		color #EE7740
		font-size 20px	
.form-list
	margin-top 20px
	background #fff
	padding 0px 15px
	border-bottom 1px solid #E9EAED
	border-top 1px solid #E9EAED
	.form-cell
		padding-left 30px 
		height 48px
		display flex
		line-height 48px
		position relative
		.form-cell-input
			height 20px
			border none
			font-size 14px
			margin-top 13px
			flex 1
			outline none	
	.form-cell1
		background url(../../img/login/content_ID_icon@2x.png) no-repeat left center
		background-size 20px 20px 
		&:after
			content ""
			width 100%
			height 1px
			background #F7F7F7
			position absolute
			bottom 0px
			left 0px
	.form-cell2
		background url(../../img/login/content_verify_icon@2x.png) no-repeat left 4px center
		background-size 11px 20px
		.form-cell-button
			display inline-block
			padding 0px 6px
			height 22px
			text-align center
			font-size 12px
			color #fff
			background-color #EA5404
			outline none
			border none
			float right 
			margin-top 13px
			border-radius 5px	
		&:after
			content ""
			width 100%
			height 1px
			background #F7F7F7
			position absolute
			bottom 0px
			left 0px
	.form-cell3
		background url(../../img/login/content_password_icon@2x.png) no-repeat left 2px center
		background-size 16px 20px
		&:after
			content ""
			width 100%
			height 1px
			background #F7F7F7
			position absolute
			bottom 0px
			left 0px	
	.form-cell4
		background url(../../img/login/content_password_icon@2x.png) no-repeat left 2px center
		background-size 16px 20px
		&:after
			content ""
			width 100%
			height 1px
			background #F7F7F7
			position absolute
			bottom 0px
			left 0px	
	.form-cell5
		background url(../../img/login/content_position_icon@2x.png) no-repeat left 2px center
		background-size 20px 20px	
	.form-cell5_down
		width 20px
		height 20px
		background url(../../img/login/nav_back_icon@2x_down.png) no-repeat right center
		position absolute
		top 14px
		right 0px
		&.active
			background url(../../img/login/nav_back_icon@2x_up.png) no-repeat right center	
		.name
			display none
			position absolute
			right 0px
			top 20px
			width 65px
			height 145px
			border-radius 4px
			overflow hidden
			background #A3A3A3
			color #F2F2F2
			font-size 14px
			.identity
				height 28px
				line-height 28px
				text-align center
				border-bottom 1px solid #C4C4C4
.login_box
	margin-top 45px	
	padding 0px 15px 
	.login
		background #C7C7C7
		border-radius 8px
		color #fff
		height 45px
		text-align center
		line-height 45px 
		font-size 18px	
.regsiter_msg
	height 30px
	line-height 30px
	font-size 12px
	text-align center
	.regsiter_success
		color #818183
	.regsiter_guild	
		color #EB7438	
		

			
			
		
		
		
		
		
		
		