<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href=".././public/css/login_information/login.css"/>
	</head>
	<body>
		<div class="header">
			<i class="icon-back" id="icon-back"></i>
			<span class="header_title">登录</span>
		</div>
		<div class="form-list">
			<section class="form-cell form-cell1">
				<span class="form-cell-name">账号：</span>
				<input class="form-cell-input" type="text" placeholder="请输入您的手机号"/>
			</section>
			<section class="form-cell form-cell2">
				<span class="form-cell-password">密码：</span>
				<input class="form-cell-input" type="text" placeholder="请输入您的账号密码"/>
			</section>
		</div>
		<div class="login_box">
			<div class="login">登录</div>
		</div>
		<div class="regsiter">
			<div class="left"><span>注册</span></div>
			<div class="right"><span>忘记密码?</span></div>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    	<script src="../public/libs/zepto/touch.js"></script>
		<script src="../../public/js/login_information/login.js"></script>
		<script src="../public/js/jump.js"></script>
	</body>
</html>
