body {
  background-color: #efeff4;
  font-family: Microsoft Yahei;
}
.header {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #d6d7dc;
}
.order-list .order-cell {
  position: relative;
  background-color: #fff;
  padding: 12px;
  margin-top: 10px;
  height: 90px;
  display: flex;
}
.order-list .order-cell .order-con {
  padding-left: 10px;
}
.order-list .order-cell .order-con .order-title {
  font-size: 14px;
  color: #646464;
}
.order-list .order-cell .order-con .order-title .order-time {
  color: #b4b4b4;
  position: absolute;
  right: 12px;
  display: inline-block;
  font-size: 12px;
}
.order-list .order-cell .order-con .order-title .order-time:before {
  content: '';
  position: absolute;
  left: -20px;
  top: -3px;
  width: 20px;
  height: 20px;
  display: block;
  background: url("../../img/content_icon@2x.png") no-repeat center;
  background-size: 50%;
}
.order-list .order-cell .order-con .order-text {
  font-size: 14px;
  line-height: 18px;
  text-indent: 1em;
}
.order-list .order-cell .order-con .house-time {
  color: #ffae6b;
  font-size: 12px;
}
.order-list .order-cell .order-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 0 10px;
  background-color: #ea5404;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 22px;
}
.order-list .order-cell .order-btn.active {
  background-color: #fff;
  color: #323232;
}
.order-list .order-cell .delete {
  width: 65px;
  line-height: 114px;
  position: fixed;
  right: 0;
  margin-top: -12px;
  text-align: center;
  color: #fff;
  background-color: #ff3b30;
  display: none;
}
.bottom {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  color: #b6b6b6;
  background: #fff;
  line-height: 74px;
  font-size: 12px;
  text-align: center;
  z-index: 5;
}
.bottom .bottom_navbar1 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_nor_icon04@2x.png") no-repeat center 6px;
}
.bottom .bottom_navbar2 {
  color: #ee7230;
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_press_icon03@2x.png") no-repeat center 6px;
}
.bottom .bottom_navbar3 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_icon05@2x.png") no-repeat center;
}
.bottom .bottom_navbar4 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_nor_icon02@2x.png") no-repeat center 6px;
}
.bottom .bottom_navbar5 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_nor_icon01@2x.png") no-repeat center 6px;
}
