* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5eeea;
}
body img {
  position: fixed;
  left: 50%;
  margin-left: -63px;
  top: 26%;
  opacity: 1;
}
body p {
  font-size: 18px;
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -63px;
  color: #5a5a5a;
  opacity: 1;
}
