<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>信息-通知</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/information/information_notification.css"/>
	</head>
	<body>
		<header class="tab_box">
	        <ul class="tab_bar">
	            <li class="tab_bar-cell">消息</li>
	            <li class="tab_bar-cell active">通知</li>
	            <li class="tab_bar-cell">需求</li>
	        </ul>
	    </header>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">房源维护提示</span>
	            	<span class="d-t-tag">08/04/13:06</span>
	            </header>
	            <p class="demand-info">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的的房源”中更新动态，5天后该房源将自动下架</p>
	            <footer class="demand-footer">
	            	<span class="text-time">地址：徐汇-龙华 科技大厦</span>
	            </footer>
	        </div>
	    </div>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">房源维护提示</span>
	            	<span class="d-t-tag">08/04/13:06</span>
	            </header>
	            <p class="demand-info">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的的房源”中更新动态，5天后该房源将自动下架</p>
	            <footer class="demand-footer">
	            	<span class="text-time">地址：徐汇-龙华 科技大厦</span>
	            </footer>
	        </div>
	    </div>
	    <div class="bottom">	
			<div class="bottom_navbar1">首页</div>
			<div class="bottom_navbar2">预约</div>
			<div class="bottom_navbar3"></div>
			<div class="bottom_navbar4">信息</div>
			<div class="bottom_navbar5">我</div>	
		</div>
	</body>
</html>
