<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>信息-消息</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/information/information_message.css"/>
	</head>
	<body>
		<header class="tab_box">
	        <ul class="tab_bar">
	            <li class="tab_bar-cell active">消息</li>
	            <li class="tab_bar-cell">通知</li>
	            <li class="tab_bar-cell">需求</li>
	        </ul>
	    </header>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span>
	            </header>
	            <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
	            <footer class="demand-footer">
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span>
	            </header>
	            <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
	            <footer class="demand-footer">
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span>
	            </header>
	            <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
	            <footer class="demand-footer">
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="bottom">	
			<div class="bottom_navbar1">首页</div>
			<div class="bottom_navbar2">预约</div>
			<div class="bottom_navbar3"></div>
			<div class="bottom_navbar4">信息</div>
			<div class="bottom_navbar5">我</div>	
		</div>
	</body>
</html>
