<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>信息-需求</title>
		<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/5.0.0/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/information/information_collection.css"/>
	</head>
	<body>
		<header class="tab_box">
	        <ul class="tab_bar">
	            <li class="tab_bar-cell">消息</li>
	            <li class="tab_bar-cell">通知</li>
	            <li class="tab_bar-cell active">需求</li>
	        </ul>
	    </header>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">一个新的租房需求</span>
	            	<span class="d-t-tag">租户</span>
	            </header>
	            <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</p>
	            <footer class="demand-footer">
	            	<span class="text-time"></span>
	            	<span class="btn-detail">
	            		<div class="btn-detail-word">了解详情</div>
	            	</span>
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">一个新的租房需求</span>
	            	<span class="d-t-tag">租户</span>
	            </header>
	            <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</p>
	            <footer class="demand-footer">
	            	<span class="text-time"></span>
	            	<span class="btn-detail">
	            		<div class="btn-detail-word">了解详情</div>
	            	</span>
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="demand_cells">
	        <div class="demand_cell">
	            <header class="demand-title">
	            	<span class="d-t-name">一个新的租房需求</span>
	            	<span class="d-t-tag">租户</span>
	            </header>
	            <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/㎡/天左右，附近有地铁</p>
	            <footer class="demand-footer">
	            	<span class="text-time"></span>
	            	<span class="btn-detail">
	            		<div class="btn-detail-word">了解详情</div>
	            	</span>
	            	<span class="text-time">08/04/13:06</span>
	            </footer>
	        </div>
	    </div>
	    <div class="bottom">	
			<div class="bottom_navbar1">首页</div>
			<div class="bottom_navbar2">预约</div>
			<div class="bottom_navbar3"></div>
			<div class="bottom_navbar4">信息</div>
			<div class="bottom_navbar5">我</div>	
		</div>
	</body>
	</body>
</html>
