ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #e9eaed;
}
.header .icon-back {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.header .header_title {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
.issue_search {
  width: 100%;
  height: 57px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  line-height: 57px;
}
.issue_search .iss_po {
  position: relative;
  width: 75%;
  height: 34px;
  float: left;
}
.issue_search .iss_po .ind_search_wor {
  width: 89%;
  height: 28px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #b5b6ba;
  padding-left: 28px;
  margin-top: 13px;
  outline: none;
}
.issue_search .iss_po .search_b {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 23px;
  left: 10px;
}
.issue_search .iss_po .ind_search_wor {
  color: #b4b4b4;
  font-size: 12px;
}
.issue_search .iss_po .search_x {
  position: absolute;
  top: 2px;
  right: 15px;
  width: 14px;
  height: 14px;
  display: none;
}
.issue_search .iss_po .search_x img {
  width: 100%;
  height: 100%;
}
.issue_search .issue_add {
  float: left;
  width: 25%;
  height: 57px;
  line-height: 57px;
  font-size: 14px;
  color: #323232;
  text-align: right;
}
.issue_search .issue_add img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.issue_mess {
  width: 100%;
  background: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid #d6d7dc;
  padding: 10px;
  box-sizing: border-box;
  color: #646464;
}
.issue_mess .mess_tit {
  padding-left: 15px;
  position: relative;
}
.issue_mess .mess_tit:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0px;
  width: 6px;
  height: 6px;
  background: #bee949;
  border-radius: 50%;
}
.issue_mess .iss_all {
  width: 100%;
  height: 28px;
  line-height: 28px;
}
.issue_mess .iss_all .iss_name {
  width: 24%;
  float: left;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
.issue_mess .iss_all input {
  width: 72%;
  border: 0px;
  border-bottom: 1px solid #d6d7dc;
  color: #b4b4b4;
  font-size: 14px;
  padding-left: 2%;
  outline: none;
}
.iss_buildings {
  width: 100%;
  background: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid #d6d7dc;
  padding: 10px;
  padding-right: 0px;
  box-sizing: border-box;
  color: #646464;
  font-size: 14px;
}
.iss_buildings .buil_tit {
  padding-left: 15px;
  position: relative;
  font-size: 16px;
}
.iss_buildings .buil_tit:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0px;
  width: 6px;
  height: 6px;
  background: #49cde9;
  border-radius: 50%;
}
.iss_buildings .buil_radio {
  margin-top: 5px;
  width: 92%;
  height: 67px;
  padding-left: 8%;
  border-bottom: 1px solid #d6d7dc;
  margin-bottom: 10px;
}
.iss_buildings .buil_radio .radio_all {
  margin-left: 8%;
}
.iss_buildings .buil_radio .radio_one {
  float: left;
  position: relative;
  margin-right: 15px;
  line-height: 24px;
}
.iss_buildings .buil_radio .radio_one .radio_big {
  width: 7px;
  height: 7px;
}
.iss_buildings .buil_radio .radio_one .dian_one {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 12px;
  left: 2px;
  background: url("../img/issuebuildings/content_press_icon@2x.png") no-repeat;
  background-size: cover;
}
.iss_buildings .iss_cho {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}
.iss_buildings .iss_cho .cho_tit {
  color: #b4b4b4;
  line-height: 30px;
  float: left;
}
.iss_buildings .iss_cho .cho_short {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;
  height: 26px;
  border: 1px solid #d6d7dc;
  border-radius: 4px;
  background: #efeff4;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
}
.iss_buildings .iss_cho .cho_long {
  width: 70%;
  float: left;
  line-height: 28px;
  color: #b4b4b4;
}
.iss_buildings .iss_cho .radio_one {
  float: left;
  position: relative;
  margin-right: 15px;
  line-height: 24px;
}
.iss_buildings .iss_cho .radio_one .radio_big {
  width: 7px;
  height: 7px;
}
.iss_buildings .iss_cho .radio_one .rsma {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 12px;
  left: 2px;
}
.iss_buildings .iss_cho .radio_one #radio_two,
.iss_buildings .iss_cho .radio_one #radio_three {
  display: none;
}
.iss_buildings .iss_cho .cho_unit {
  color: #323232;
  float: left;
  line-height: 30px;
}
.iss_buildings .iss_cho textarea {
  width: 70%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #d6d7dc;
  border-radius: 4px;
  background: #efeff4;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
}
.iss_buildings .iss_cho .cho_sel {
  height: 30px;
  position: relative;
}
.iss_buildings .iss_cho .cho_sel:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../img/issuebuildings/content_list_icon01@2x.png") no-repeat;
  background-size: 15px 10px;
  width: 15px;
  height: 10px;
}
.iss_buildings .iss_cho .cho_sel_menu {
  position: absolute;
  top: 29px;
  left: -1px;
  width: 98%;
  background: #efeff4;
  padding-left: 2%;
  border: 1px solid #d6d7dc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
  z-index: 5;
}
.iss_buildings .iss_cho .cho_sel_menu .sel_menu .sel_menu_li {
  border-bottom: 1px solid #d6d7dc;
  color: #323232;
  width: 100%;
  line-height: 31px;
  display: inline-block;
}
.iss_buildings .iss_cho .cho_sel_menu .sel_menu .li_line {
  border: 0px;
}
.iss_buildings .add_pic {
  width: 74px;
  height: 74px;
  text-align: center;
  background: url("../img/issuebuildings/content_plus_icon@2x.png") no-repeat 25px 20px #d4d4d9;
  margin-top: 60px;
  line-height: 120px;
}
.iss_btn {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #fff;
  height: 61px;
}
.iss_btn .iss_btn_one {
  display: inline-block;
  width: 96%;
  margin-left: 2%;
  border-radius: 4px;
  background: #ea5404;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.wipe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 163%;
  background: rgba(50,50,50,0.5);
  display: none;
  z-index: 2;
}
.wipe .wipe_sm {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  height: 107px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}
.wipe .wipe_sm .wipe_sm_p {
  font-size: 12px;
  width: 100%;
  height: 63px;
  line-height: 63px;
  border-bottom: 1px solid #d6d7dc;
  display: inline-block;
  color: #494949;
}
.wipe .wipe_sm .cancel {
  width: 50%;
  height: 43px;
  text-align: center;
  line-height: 44px;
  display: inline-block;
  float: left;
  color: #727272;
}
.wipe .wipe_sm .confirm {
  width: 49%;
  color: #ea5404;
  border-left: 1px solid #d6d7dc;
}
.wipe .wipe_sm .wipe_one {
  width: 100%;
  height: 43px;
  text-align: center;
  line-height: 43px;
  color: #eb5c18;
  display: inline-block;
}
@media all and (max-width: 350px) {
  body {
    font-size: 12px;
  }
  .issue_search .iss_po {
    width: 65%;
  }
  .issue_search .issue_add {
    width: 30%;
  }
  .issue_mess .iss_all input {
    font-size: 12px;
  }
  .iss_buildings .buil_radio {
    height: 95px;
  }
}
