body {
  background: #efeff4;
  color: #323232;
}
.header {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #e9eaed;
}
.header .icon-back {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 40px;
  height: 40px;
  background: url("../../img/login/nav_back_icon@2x.png") no-repeat center;
  background-size: 10px 18px;
}
.header .header_title {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
.nav {
  position: relative;
  display: flex;
  background-color: #fff;
  height: 42px;
  line-height: 42px;
  margin-top: 5px;
  border-top: 1px solid #ebebee;
  border-bottom: 1px solid #ebebee;
}
.nav .nav-demand {
  flex: 1;
  text-align: center;
}
.nav .nav-listing {
  position: relative;
  color: #eb7946;
  flex: 1;
  text-align: center;
}
.nav .nav-listing:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #eb7946;
  z-index: 5;
}
.cells {
  background-color: #fff;
  padding: 15px;
  margin-top: 10px;
  border-top: 1px solid #e9eaed;
  border-bottom: 1px solid #e9eaed;
}
.cells .cell {
  padding-left: 130px;
  height: 85px;
  background: url("../../img/home/content_img_list@2x.png") no-repeat left center;
  background-size: 120px 85px;
  font-size: 12px;
}
.cells .cell .cell-header {
  display: flex;
}
.cells .cell .cell-header .cell-header-left {
  flex: 7;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.cells .cell .cell-header .cell-header-right {
  flex: 1;
  height: 30px;
  background: url("../../img/home/collect_icon_press@2x.png") no-repeat right center;
  background-size: 14px 13px;
}
.cells .cell .cell-content {
  margin: 0px;
  color: #828282;
}
.cells .cell .cell-botton {
  height: 16px;
  line-height: 16px;
  width: 55px;
  border: 1px solid #eb7946;
  color: #eb7946;
  border-radius: 3px;
  margin: 5px 0px;
  text-align: center;
}
.cells .cell .cell-foot {
  color: #828282;
  display: flex;
}
.cells .cell .cell-foot .foot-left {
  flex: 4;
}
.cells .cell .cell-foot .foot-left .foot-style {
  color: #eb7946;
}
.cells .cell .cell-foot .foot-right {
  flex: 3;
  text-align: right;
}
