body {
  background: #efeff4;
  color: #323232;
  font-family: Microsoft Yahei;
}
.tab_box {
  height: 40px;
  padding-top: 20px;
  background-color: #fff;
}
.tab_box .tab_bar {
  display: flex;
  width: 70%;
  height: 28px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #ed692b;
  color: #ed692b;
}
.tab_box .tab_bar .tab_bar-cell {
  position: relative;
  flex: 1;
  line-height: 28px;
  text-align: center;
}
.tab_box .tab_bar .tab_bar-cell:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 28px;
  background-color: #ed692b;
}
.tab_box .tab_bar .tab_bar-cell:last-child:after {
  content: '';
  display: none;
}
.tab_box .tab_bar .tab_bar-cell.active {
  background-color: #ed692b;
  color: #fff;
}
.demand_cells {
  margin-top: 10px;
  padding: 0px 15px;
}
.demand_cells .demand_cell {
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  background-color: #fff;
}
.demand_cells .demand_cell .demand-title {
  padding: 0px 15px;
  display: flex;
  height: 38px;
  line-height: 38px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebee;
}
.demand_cells .demand_cell .demand-title .d-t-name {
  flex: 1;
  font-size: 14px;
}
.demand_cells .demand_cell .demand-title .d-t-tag {
  color: #c6c6c6;
  font-size: 10px;
}
.demand_cells .demand_cell .demand-info {
  font-size: 12px;
  margin: 0px;
  line-height: 14px;
  padding: 0px 15px;
}
.demand_cells .demand-footer {
  height: 25px;
  line-height: 25px;
  font-size: 10px;
  padding: 0px 15px;
  text-align: right;
  color: #acacac;
}
.bottom {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  color: #b6b6b6;
  background: #fff;
  line-height: 74px;
  font-size: 12px;
  text-align: center;
}
.bottom .bottom_navbar1 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_nor_icon04@2x.png") no-repeat center 6px;
}
.bottom .bottom_navbar2 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_nor_icon03@2x.png") no-repeat center 6px;
}
.bottom .bottom_navbar3 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_icon05@2x.png") no-repeat center;
}
.bottom .bottom_navbar4 {
  color: #ee7230;
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_press_icon02@2x.png") no-repeat center 6px;
}
.bottom .bottom_navbar5 {
  height: 50px;
  flex: 1;
  background: url("../../img/bottom_nav/bottom_nor_icon01@2x.png") no-repeat center 6px;
}
